/*The server must be restarted for css changes to take effect*/
/* line 2, network/static/network/style.scss */
* {
  box-sizing: border-box; }

/* line 3, network/static/network/style.scss */
body, html {
  padding: 0;
  border: 0; }

/*All map stuff*/
/* line 6, network/static/network/style.scss */
.marker {
  background-image: url("/static/network/images/marker.svg");
  background-size: cover;
  background-position: center center;
  width: 33px;
  height: 42px; }

/* line 14, network/static/network/style.scss */
#map {
  width: 640px;
  height: 360px; }

/* line 15, network/static/network/style.scss */
#id_address {
  display: none; }

/* line 16, network/static/network/style.scss */
.mapboxgl-popup {
  max-width: 200px; }

/* line 19, network/static/network/style.scss */
.mapboxgl-popup-content {
  text-align: center; }

/*End map stuff*/
/* line 24, network/static/network/style.scss */
* {
  box-sizing: border-box;
  font-weight: 400;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; }

/* line 29, network/static/network/style.scss */
*:not(.flickity-slider):not(.carousel-cell):not(.mapboxgl-marker) {
  transition: 0.2s ease-in; }

/* line 32, network/static/network/style.scss */
head, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

/* line 36, network/static/network/style.scss */
h1 {
  font-weight: 500; }

/* line 37, network/static/network/style.scss */
a, a:visited {
  color: #25D;
  text-decoration: none;
  cursor: pointer; }

/* line 42, network/static/network/style.scss */
a:hover, a:focus {
  color: #1d48bc;
  text-decoration: underline; }

/* line 46, network/static/network/style.scss */
.alt-a, .alt-a:visited {
  color: #5c5f6f; }

/* line 47, network/static/network/style.scss */
.alt-a:hover, .alt-a:focus {
  color: #7f8292; }

/* line 48, network/static/network/style.scss */
.float-right {
  float: right; }

/* line 50, network/static/network/style.scss */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap; }

/* line 57, network/static/network/style.scss */
.navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 0 50px;
  background: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 100; }

/* line 66, network/static/network/style.scss */
.navbar h1, .navbar h1 a, .navbar h1 a:hover, .navbar h1 a:focus {
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black; }

/* line 72, network/static/network/style.scss */
.navLinks {
  margin-left: auto; }

/* line 73, network/static/network/style.scss */
.navLinks a {
  display: block;
  text-decoration: none;
  padding: 15px 7.5px;
  border-bottom: 2.5px solid transparent; }

/* line 74, network/static/network/style.scss */
.navLinks a:hover {
  border-bottom: 2.5px solid #25D; }

/* line 75, network/static/network/style.scss */
.userIcon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-left: 7.5px; }
