/*The server must be restarted for css changes to take effect*/
/*All map stuff*/
/* line 4, static/style.scss */
.marker {
  background-image: url("/static/images/marker.svg?67de0120b6f2");
  background-size: cover;
  background-position: center center;
  width: 33px;
  height: 42px; }

/* line 12, static/style.scss */
#map {
  width: 640px;
  height: 360px; }

/* line 13, static/style.scss */
#id_address {
  display: none; }

/* line 14, static/style.scss */
.mapboxgl-popup {
  max-width: 200px; }

/* line 17, static/style.scss */
.mapboxgl-popup-content {
  text-align: center; }

/*End map stuff*/
/* line 22, static/style.scss */
* {
  box-sizing: border-box; }

/* line 24, static/style.scss */
*:not(.flickity-slider):not(.carousel-cell):not(.mapboxgl-marker) {
  transition: 0.2s ease-in; }

/* line 27, static/style.scss */
h1, h2, h3, h4, h5, h6, p, a, li, ul, ol, input, label {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: 400; }

/* line 33, static/style.scss */
head, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

/* line 37, static/style.scss */
h1 {
  font-weight: 500; }

/* line 38, static/style.scss */
a, a:visited {
  color: #25D;
  text-decoration: none;
  cursor: pointer; }

/* line 43, static/style.scss */
a:hover, a:focus {
  color: #1d48bc;
  text-decoration: underline; }

/* line 47, static/style.scss */
.alt-a, .alt-a:visited {
  color: #5c5f6f; }

/* line 48, static/style.scss */
.alt-a:hover, .alt-a:focus {
  color: #7f8292; }

/* line 49, static/style.scss */
.float-right {
  float: right; }

/* line 51, static/style.scss */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap; }

/* line 58, static/style.scss */
.navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 0 50px;
  background: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 100; }

/* line 67, static/style.scss */
.navbar h1, .navbar h1 a, .navbar h1 a:hover, .navbar h1 a:focus {
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black; }

/* line 73, static/style.scss */
.navLinks {
  margin-left: auto;
  padding-right: 57.5px; }

/* line 74, static/style.scss */
.navLinks a {
  display: block;
  text-decoration: none;
  padding: 15px 7.5px;
  border-bottom: 2.5px solid transparent; }

/* line 75, static/style.scss */
.navLinks a:hover {
  border-bottom: 2.5px solid #25D;
  background-color: #f9f9f9; }

/* line 76, static/style.scss */
.navLinks a.active {
  background-color: #f9f9f9; }

/* line 77, static/style.scss */
#userLink {
  padding: 5px;
  position: absolute;
  right: 50px; }

/* line 81, static/style.scss */
#userLink:hover {
  background-color: #f2f2f2; }

/* line 82, static/style.scss */
.userIcon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  vertical-align: middle; }
