/*The server must be restarted for css changes to take effect*/
/*All map stuff*/
/* line 4, lib/static/lib/css/style.scss */
.marker {
  background-image: url("/static/images/marker.svg?67de0120b6f2");
  background-size: cover;
  background-position: center center;
  width: 33px;
  height: 42px; }

/* line 12, lib/static/lib/css/style.scss */
#map {
  width: 640px;
  height: 360px; }

/* line 13, lib/static/lib/css/style.scss */
#id_address {
  display: none; }

/* line 14, lib/static/lib/css/style.scss */
.mapboxgl-popup {
  max-width: 200px; }

/* line 17, lib/static/lib/css/style.scss */
.mapboxgl-popup-content {
  text-align: center; }

/*End map stuff*/
/* line 22, lib/static/lib/css/style.scss */
* {
  box-sizing: border-box; }

/**:not(.flickity-slider):not(.carousel-cell):not(.mapboxgl-marker){
	transition:0.2s ease-in;
}*/
/* line 27, lib/static/lib/css/style.scss */
.close, .close:hover, a, a:hover, a:focus, .navbar {
  transition: 0.2s ease-in; }

/* line 31, lib/static/lib/css/style.scss */
h1, h2, h3, h4, h5, h6, p, a, li, ul, ol, input, label, button {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: 400; }

/* line 37, lib/static/lib/css/style.scss */
head, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

/* line 41, lib/static/lib/css/style.scss */
h1 {
  font-weight: 500; }

/* line 42, lib/static/lib/css/style.scss */
a, a::visited {
  color: #25D;
  text-decoration: none;
  cursor: pointer; }

/* line 47, lib/static/lib/css/style.scss */
a:hover, a:focus {
  color: #1d48bc;
  text-decoration: underline; }

/*a.dropdown-item:hover, a.dropdown-item:focus{
  text-decoration: none;
}*/
/* line 54, lib/static/lib/css/style.scss */
.alt-a, .alt-a:visited {
  color: #5c5f6f; }

/* line 55, lib/static/lib/css/style.scss */
.alt-a:hover, .alt-a:focus {
  color: #7f8292; }

/* line 56, lib/static/lib/css/style.scss */
.float-right {
  float: right; }

/* line 58, lib/static/lib/css/style.scss */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap; }

/* line 65, lib/static/lib/css/style.scss */
.navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 0 50px;
  background: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 5; }

/* line 74, lib/static/lib/css/style.scss */
.navbar h1, .navbar h1 a, .navbar h1 a:hover, .navbar h1 a:focus, .navbar h1 a:visited {
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black; }

/* line 80, lib/static/lib/css/style.scss */
.navLinks {
  margin-left: auto; }

/* line 81, lib/static/lib/css/style.scss */
.navLinks.loggedin {
  padding-right: 57.5px; }

/* line 82, lib/static/lib/css/style.scss */
.navLinks a {
  display: block;
  text-decoration: none;
  padding: 15px 7.5px;
  border-bottom: 2.5px solid transparent; }

/* line 83, lib/static/lib/css/style.scss */
.navLinks a:hover {
  border-bottom: 2.5px solid #25D;
  background-color: #f9f9f9; }

/* line 84, lib/static/lib/css/style.scss */
.navLinks a.active {
  background-color: #f9f9f9; }

/* line 85, lib/static/lib/css/style.scss */
#userLink {
  padding: 5px;
  position: absolute;
  right: 50px; }

/* line 89, lib/static/lib/css/style.scss */
#userLink:hover {
  background-color: #f2f2f2; }

/* line 90, lib/static/lib/css/style.scss */
.userIcon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  vertical-align: middle; }

/* line 97, lib/static/lib/css/style.scss */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 5;
  /* Sit on top */
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* line 108, lib/static/lib/css/style.scss */
.modal-content {
  background-color: white;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
  animation-name: animatetop;
  animation-duration: 0.4s;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s; }

/* The Close Button */
/* line 121, lib/static/lib/css/style.scss */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

/* line 128, lib/static/lib/css/style.scss */
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

@keyframes animatetop {
  from {
    margin-top: -300px;
    opacity: 0; }
  to {
    margin-top: 5%;
    opacity: 1; } }

@-webkit-keyframes animatetop {
  from {
    margin-top: -300px;
    opacity: 0; }
  to {
    margin-top: 5%;
    opacity: 1; } }

/*.hidden{display:none;}
.dropdown .button{
  font-size:0.8rem;
}*/
/* line 148, lib/static/lib/css/style.scss */
.rruleContainer {
  display: none; }

/* line 152, lib/static/lib/css/style.scss */
input[type=text], input[type=date], input[type=password], input[type=email], input[type=tel], textarea {
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  background-color: white;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636;
  border: 1px solid transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 2.5em;
  position: relative;
  margin: 0; }

/* line 165, lib/static/lib/css/style.scss */
input[type=text]:hover, input[type=date]:hover, input[type=password]:hover, input[type=email]:hover, input[type=tel]:hover, textarea {
  border-color: #b5b5b5; }
