<!--This is where the calendar, with all of its events, will go-->
{% load static %}
{% load custom_filters %}
<script src="{% static 'cal/rrule.js' %}"></script>

<script src="{% static 'cal/fullcalendar.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'cal/fullcalendar.css' %}">
<script src="{% static 'cal/daygrid.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'cal/daygrid.css' %}">
<script src="{% static 'cal/list.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'cal/list.css' %}">
<script src="{% static 'cal/timegrid.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'cal/timegrid.css' %}">

<script src="{% static 'cal/rrulefullcalendar.js' %}"></script>
<script src="{% static 'lib/js/moment.js' %}"></script>

{% if type == "user" %}
<a href="{% url 'cal:addevent' profile.username %}">add an event</a>
{% elif type == "nonprofit" %}
<a href="{% url 'cal:addevent' nonprofit.network.slug nonprofit.slug %}">add an event</a>
{% elif type == "network" %}
<a href="{% url 'cal:addevent' network.slug %}">add an event</a>
{% elif type == "organization" %}
<a href="{% url 'cal:add_event_org' organization.slug %}">add an event</a>
{% endif %}

{% if user.is_authenticated and calendar in user.calendar.get_nested_calendars and calendar not in user.calendar.excludedcal.all and type != "user" %}
<p>You are subscribed to this calendar</p>
{% elif calendar not in user.calendar.get_nested_calendars and type != "user" or calendar in user.calendar.excludedcal.all and type != "user" %}
<p>You are not subscribed to this calendar</p>
{% endif %}

{% if user.is_authenticated and calendar not in user.calendar.get_nested_calendars and type != "user" %}
<a href="{% url 'cal:subscribe' calendar.token %}">subscribe to this calendar</a>
{% elif user.is_authenticated and calendar in user.calendar.get_nested_calendars and calendar not in user.calendar.excludedcal.all and type != "user" %}
<a href="{% url 'cal:unsubscribe' calendar.token %}">unsubscribe from this calendar</a>
{% endif %}

{% if user.is_authenticated and type != "user" %}
{% for org in user.organization_leadership %}

{% if calendar not in org.calendar.get_nested_calendars %}
<a href="{% url 'cal:subscribe' calendar.token org.slug %}">subscribe to this calendar for the organiztion {{ org }}</a>
{% elif calendar in org.calendar.get_nested_calendars and calendar not in org.calendar.excludedcal.all %}
<a href="{% url 'cal:unsubscribe' calendar.token org.slug %}">unsubscribe from this calendar for the organiztion {{ org }}</a>
{% endif %}

{% endfor %}
{% endif %}

<input type="radio" id="verified" name="show_type" value="true" checked>
<label for="verified">show only verified events</label>
<input type="radio" id="all" name="show_type" value="all">
<label for="all">show all events</label>
<div id="calendar"></div>

<script>
var e;
  var calendar;
  var dateFormat = { weekday: 'long', year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute:'numeric' };

  document.addEventListener('DOMContentLoaded', function() {
	var calendarEl = document.getElementById('calendar');
	var modal = document.getElementById("eventModal");

	calendar = new FullCalendar.Calendar(calendarEl, {
		allDayDefault: false,
		eventLimit: true,
		plugins: [ 'dayGrid', 'list', 'rrule', 'timeGrid' ],
		header: {
		  left: 'prev,next today',
		  center: 'title',
		  right: 'dayGridMonth,timeGridWeek,listDay'
		},
		eventClick: function(info) {
		  document.getElementById("modalTime").innerHTML = "";

		  var eventObj = info.event;
		  modal.style.display = "block";
		  document.getElementById("modalTitle").innerHTML = eventObj.title;
		  if(eventObj.extendedProps.description){document.getElementById("modalDescription").innerHTML = eventObj.extendedProps.description;}

		  if(eventObj.extendedProps.rrule){document.getElementById("moreInformation").setAttribute("href", "{% url 'cal:eventdetail' %}" + eventObj.extendedProps.token + "?d=" + moment(eventObj.start).format('YYYY-MM-DD'));}
		  else{document.getElementById("moreInformation").setAttribute("href", "{% url 'cal:eventdetail' %}" + eventObj.extendedProps.token);}

		  if(! eventObj.allDay){document.getElementById("modalTime").innerHTML = eventObj.start.toLocaleDateString("en-US", dateFormat) + " - " + eventObj.end.toLocaleDateString("en-US", dateFormat); console.log(eventObj.start)}
		  else{document.getElementById("modalTime").innerHTML = "This is an all day event.";}
		},
		events: {
			url: '{% url "cal:caljson" calendar.token %}',
		    cache: true
		},
		eventRender: function eventRender(event, element, view) {
			var show_type = document.querySelector('input[name = "show_type"]:checked').value;
			if (show_type == "true"){show_type = true;}
			return ['all', event.event.extendedProps.verified].indexOf(show_type) >= 0; 
			//I have no idea why it's event.event.extendedProps.verified, and not event.verified, but if it works,it works
	    }

	});

	calendar.render();
  });
  document.getElementById("verified").addEventListener("change", rerender);
  document.getElementById("all").addEventListener("change", rerender);
  function rerender(){
  	calendar.rerenderEvents();
  }

</script>


<div id="eventModal" class="modal">
  <div class="modal-content eventmodal">
    <span class="close">&times;</span>
    <h1 id="modalTitle">Event title</h1>
    <p id="modalTime">Time</p>
    <p id="modalDescription">This event has no description</p>
    <a id="moreInformation" href="">More information</a>
  </div>
</div>

<script>
	var modal = document.getElementById("eventModal");
	var span = document.getElementsByClassName("close")[0];
	span.onclick = function() {
	  modal.style.display = "none";
	}
	window.onclick = function(event) {
	  if (event.target == modal) {
	    modal.style.display = "none";
	  }
	} 
</script>