{% load static %}
<script src="{% static 'lib/js/moment.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script src="{% static 'cal/bootstrap-datetimepicker.js' %}"></script>

<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">-->
<link rel="stylesheet" href="{% static 'cal/bootstrap-datetimepicker.css' %}">

<form method="post" id="form">{% csrf_token %}
	{{ form.non_field_errors }}
	<p>
		{{ form.title.errors }} 
		{{ form.title.label_tag }}
			{{ form.title }}
			{% if form.title.help_text %}
			<span>{{ form.title.help_text|safe }}</span>
			{% endif %}
		</div>
		{% if not form.title.field.required %}
		<i>(optional)</i>
		{% endif %}
	</p>
	<p>
		{{ form.description.errors }} 
		{{ form.description.label_tag }}
			{{ form.description }}
			{% if form.description.help_text %}
			<span>{{ form.description.help_text|safe }}</span>
			{% endif %}
		</div>
		{% if not form.description.field.required %}
		<i>(optional)</i>
		{% endif %}
	</p>

	{{ form.start_date.label_tag }}
	<div class="form-group">
	<div class='input-group date' id='start_date_picker'>
		{{ form.start_date }}
		<span class="input-group-addon">
		<span class="glyphicon glyphicon-calendar"></span>
		</span>
	</div>
	</div>

	{{ form.end_date.label_tag }}
	<div class="form-group">
	<div class='input-group date' id='end_date_picker'>
		{{ form.end_date }}
		<span class="input-group-addon">
		<span class="glyphicon glyphicon-calendar"></span>
		</span>
	</div>
	</div>

	{{ form.start_time.label_tag }}
	<div class="form-group">
	<div class='input-group time' id='start_time_picker'>
		{{ form.start_time }}
		<span class="input-group-addon">
		<span class="glyphicon glyphicon-time"></span>
		</span>
	</div>
	</div>
	{% if form.start_time.errors %}<p>{{ form.start_time.errors }} </p>{% endif %}

	{{ form.end_time.label_tag }}
	<div class="form-group">
	<div class='input-group time' id='end_time_picker'>
		{{ form.end_time }}
		<span class="input-group-addon">
		<span class="glyphicon glyphicon-time"></span>
		</span>
	</div>
	</div>
	{% if form.end_time.errors %}<p>{{ form.end_time.errors }} </p>{% endif %}

	{{ form.rrule.as_hidden }}
	<input type="checkbox" id="repeatCheck" name="repeatCheck">
	<label for="repeatCheck">This is a repeating event</label>

	<div id="rruleContainer" class="rruleContainer">
		<p>Repeat:</p>
		<div>
			<input type="radio" id="daily" name="freq" value="DAILY" data-name="day" checked required>
			<label for="daily">Daily</label>
			<input type="radio" id="weekly" name="freq" value="WEEKLY" data-name="week">
			<label for="weekly">Weekly</label>
			<input type="radio" id="monthly" name="freq" value="MONTHLY" data-name="month">
			<label for="daily">Monthly</label>
			<input type="radio" id="yearly" name="freq" value="YEARLY" data-name="year">
			<label for="yearly">Yearly</label>
		</div>
		<p>every</p>
		<input type="number" id="interval" value=1 min=1 required><span id="freqDisplay">day</span>

		<div id="weekContainer" class="freqContainer">
			<div class="buttonCheckboxContainer">
				<label for="SU" class="buttonCheckbox"><input type="checkbox" id="SU" class="buttonCheckbox weekByDay">Sun</label
				><label for="MO" class="buttonCheckbox"><input type="checkbox" id="MO" class="buttonCheckbox weekByDay">Mon</label
				><label for="TU" class="buttonCheckbox"><input type="checkbox" id="TU" class="buttonCheckbox weekByDay">Tue</label
				><label for="WE" class="buttonCheckbox"><input type="checkbox" id="WE" class="buttonCheckbox weekByDay">Wed</label
				><label for="TH" class="buttonCheckbox"><input type="checkbox" id="TH" class="buttonCheckbox weekByDay">Thu</label
				><label for="FR" class="buttonCheckbox"><input type="checkbox" id="FR" class="buttonCheckbox weekByDay">Fri</label
				><label for="SA" class="buttonCheckbox"><input type="checkbox" id="SA" class="buttonCheckbox weekByDay">Sat</label>
			</div>
		</div>

		<div id="monthContainer" class="freqContainer">
			<input type="radio" id="selectByMonthDay" name="monthSelect" value="bymonthday" checked>
			<label for="selectByMonthDay">Repeat by days of month</label>
			<input type="radio" id="selectByDay" name="monthSelect" value="byday">
			<label for="selectByDay">Repeat by days of week</label>

			<div class="buttonCheckboxContainer monthByMonthDays">
			</div>

			<div class="monthByDays">
				<select name="monthBySetPos" id="monthBySetPos">
					<option value="1" selected>First</option>
					<option value="2">Second</option>
					<option value="3">Third</option>
					<option value="4">Fourth</option>
					<option value="-1">Last</option>
				</select>
				<select name="monthByDay" id="monthByDay">
					<option value="SU" selected>Sunday</option>
					<option value="MO">Monday</option>
					<option value="TU">Tuesday</option>
					<option value="TH">Thursday</option>
					<option value="FR">Friday</option>
					<option value="SA">Saturday</option>
					<option value="MO,TU,WE,TH,FR,SA,SU">Day</option>
					<option value="MO,TU,WE,TH,FR">Weekday</option>
					<option value="SA,SU">Weekend</option>
				</select>
			</div>
		</div>
		<div id="yearContainer" class="freqContainer">
		</div>
	</div>

	<p>
		{{ form.all_day.errors }} 
		{{ form.all_day.label_tag }}
			{{ form.all_day }}
			{% if form.all_day.help_text %}
			<span>{{ form.all_day.help_text|safe }}</span>
			{% endif %}
		</div>
		{% if not form.all_day.field.required %}
		<i>(optional)</i>
		{% endif %}
	</p>
	<p>
		{{ form.event_type.errors }} 
		{{ form.event_type.label_tag }}
			{{ form.event_type }}
			{% if form.event_type.help_text %}
			<span>{{ form.event_type.help_text|safe }}</span>
			{% endif %}
		</div>
		{% if not form.event_type.field.required %}
		<i>(optional)</i>
		{% endif %}
	</p>
	<p>
		{{ form.sign_up_slots.errors }} 
		{{ form.sign_up_slots.label_tag }}
			{{ form.sign_up_slots }}
			{% if form.sign_up_slots.help_text %}
			<span>{{ form.sign_up_slots.help_text|safe }}</span>
			{% endif %}
		</div>
		{% if not form.sign_up_slots.field.required %}
		<i>(optional)</i>
		{% endif %}
	</p>
	<input type="submit" value="{{ buttonText }}">
</form>
<script src="{% static 'cal/event_form.js' %}"></script>