{% extends "base.html" %}
{% load static %}

{% block title %}Generate an Invitation Link{% endblock %}

{% block content %}
<script src="{% static 'moment.js' %}"></script>
<script src="{% static 'moment-timezone-with-data.js' %}"></script>

<a href="{% url 'orgs:detail' organization.slug %}">back to detail view</a>

<h1>Generate an Invitation Link</h1>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <label for="my_expiration">Expires After:</label>
	<select id="my_expiration" name="my_expiration">
		<option value="never">Never</option>
		<option value="30min">30 minutes</option>
		<option value="1hr">1 hour</option>
		<option value="6hr">6 hours</option>
		<option value="12hr">12 hours</option>
		<option value="1day">1 day</option>
		<option value="1week">1 week</option>
		<option value="1mon">1 month</option>
	</select>
    <input type="submit" value="Submit" id="submitBtn">
</form>

<script>
document.getElementById('submitBtn')
    .addEventListener('click', function (event) {
		var delta = document.getElementById("my_expiration").value;
		if(delta=="never"){
			document.getElementById("f").value = null;
		}
		else if(delta=="30min"){document.getElementById("id_expiration").value = moment().add(30, 'minutes').utc().format("YYYY-MM-DD HH:mm:ss");}
		else if(delta=="1hr"){document.getElementById("id_expiration").value = moment().add(1, 'hours').utc().format('YYYY-MM-DD HH:mm:ss');}
		else if(delta=="6hr"){document.getElementById("id_expiration").value = moment().add(6, 'hours').utc().format('YYYY-MM-DD HH:mm:ss');}
		else if(delta=="12hr"){document.getElementById("id_expiration").value = moment().add(12, 'hours').utc().format('YYYY-MM-DD HH:mm:ss');}
		else if(delta=="1day"){document.getElementById("id_expiration").value = moment().add(1, 'days').utc().format('YYYY-MM-DD HH:mm:ss');}
		else if(delta=="1week"){document.getElementById("id_expiration").value = moment().add(1, 'weeks').utc().format('YYYY-MM-DD HH:mm:ss');}
		else if(delta=="1mon"){document.getElementById("id_expiration").value = moment().add(1, 'months').utc().format('YYYY-MM-DD HH:mm:ss');}
    });
</script>
{% endblock %}