{% extends "base.html" %}
{% load custom_filters %}

{% block title %}Delete invitation {{ object }}?{% endblock %}

{% block content %}
<a href="{% url 'orgs:detail' object.organization.slug %}">back to detail view</a>
<h1>Delete invitation to {{ object.organization }}</h1>
<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete the invitation {{ object }} to {{ object.organization }}?</p>
    <p>It has been used {{ object.uses }} times</p>
    {% if object.max_uses and object.max_uses > object.uses %}<p>This invitation still has {{ object.max_uses|subtract:object.uses }} uses remaining</p>{% endif %}
    {% if object.expiration %}<p>This invitation is still valid for {{ object.expiration|timeuntil }}</p>{% endif %}
    <input type="submit" value="Confirm">
</form>
{% endblock %}