<h1>{{ nonprofit.title }}</h1>
<h3>Coords: {{ nonprofit.lat }} {{ nonprofit.lon }}</h3>
<a href="{% url 'network:deletenon' nonprofit.network.slug nonprofit.slug %}">delete</a>
<a href="{% url 'network:updatenon' nonprofit.network.slug nonprofit.slug %}">update</a>
<a href="{% url 'network:detail' nonprofit.network.slug %}">back to network</a>

{% if nonprofit.src_file%}<img src="{{ nonprofit.src_file.url }}">{% endif %}
{% if nonprofit.src_link%}<img src="{{ nonprofit.src_link }}">{% endif %}

<p>When I finish the network/nonprofit side of this, I want to be able to have a calendar view of all of the nonprofit's events, if any, here</p>

{% if nonprofit.lat and nonprofit.lon%}
	<div id="map" style="width:640px; height:360px;"></div>
		 
	<script>
		mapboxgl.accessToken = 'pk.eyJ1IjoicHVkZ3lwb3BwaW5zIiwiYSI6ImNqdnBiaDAwMDI3dzIzenFyZjc4Z2s1MGgifQ.ZY1iUikoHZ5fZqqcvYidpw';
		var coordinates = document.getElementById('coordinates');
		var map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/mapbox/streets-v11',
			{% if object.lat is None and object.lon is None%}center: [-98, 37], zoom: 2
			{% elif object.lat and object.lon %}center: [{{ object.lon }}, {{ object.lat }}], zoom: 10
			{% endif %}
		});

		var el = document.createElement('div');
		el.className = 'marker';

		var marker = new mapboxgl.Marker({
			draggable: true,
			color: '#4668F2',
			element: el,
			anchor: 'bottom'
		})
		.setLngLat([{{ nonprofit.lon }}, {{ nonprofit.lat }}])
		.addTo(map);
	</script>
{% endif %}