{% extends "base.html" %}
{% load custom_filters %}

{% block title %}{{ nonprofit.title }}{% endblock %}

{% block content %}
<h1>{{ nonprofit.title }}</h1>
{% if nonprofit.created_by %}<h3>created by <a href="{% url 'accounts:profile' nonprofit.created_by %}">{{ nonprofit.created_by }}</a></h3>
{% else %}<h3>created by a deleted user</h3>
{% endif %}
<h3>Coords: {{ nonprofit.lat|floatformat:3 }} {{ nonprofit.lon|floatformat:3 }}</h3>

{% if user.is_authenticated and user.username == nonprofit.created_by.username or perms.network.delete_nonprofit %}
<a href="{% url 'network:deletenon' nonprofit.network.slug nonprofit.slug %}">delete</a>
{% endif %}
<a href="{% url 'network:updatenon' nonprofit.network.slug nonprofit.slug %}">update</a>

<a href="{% url 'network:detail' nonprofit.network.slug %}">back to network</a>

{% if nonprofit.src_file%}<img src="{{ nonprofit.src_file.url }}">{% endif %}
{% if nonprofit.src_link%}<img src="{{ nonprofit.src_link }}">{% endif %}

{% if nonprofit.address%}<p>Address: {{ nonprofit.address|shorten_address }}</p>{% endif %}

{% include "network/snippets/map.html" with type="nonprofit" %}

{% include "cal/snippets/calendar.html" with type="nonprofit" %}

{% endblock %}