{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block title %}View {{ nonprofit.title }} logs{% endblock %}

{% block content %}

<h3>Sort</h3>
<div class="button-group sort-by-button-group">
	<button data-sort="day" class="button is-checked">Day Volunteered</button>
	<button data-sort="created_on" class="button">Most Recently Added</button>
</div>

<h3>Filter</h3>
<div class="checkbox-group" id="filters">
	<input type="checkbox" name="all" value="*" id="filter-all"><label for="all">All</label>
	<input type="checkbox" name="unprocessed" value=":not(.processed)"><label for="unprocessed">Unprocessed</label>
	<input type="checkbox" name="verified" value=".verified"><label for="verified">Verified</label>
	<input type="checkbox" name="attendee" value=".attendee"><label for="attendee">Created Through Event</label>
</div>

{% comment %}<h2>Logs by Day Volunteered</h2>
{% for day in logs_day %}
<h3>{{ day.0.start_date }}</h3>
<ul>
	{% for l in day %}
	<li id="l.token">
		{{ l.volunteer }} - {{ l.duration | humanize_duration }} <a href="{% if l.user %}{% url 'logs:detail' l.user l.token %}{% else %}{% url 'logs:detail' l.token %}{% endif %}">view details</a> | {% if not l.verified %}<a href="{% url 'logs:verify' l.token %}">verify</a>{% else %}<a href="{% url 'logs:unverify' l.token %}">unverify</a>{% endif %}{% if not l.processed %} | <a href="#" onclick="deny('{{ l.token }}')" id="anchor{{ l.token }}">deny</a>{% elif not l.verified %} | denied{% endif %}
	
	<div id="reason{{ l.token }}" style="display: none">
		<form method="post" action="{% url 'logs:deny' l.token %}">{% csrf_token %}
		    <textarea name="reason" cols="40" rows="2" maxlength="256" required="" id="id_reason" placeholder="Reason for denial"></textarea>
		    <input type="submit" value="Deny">
		</form>
	</div>
	</li>
	{% endfor %}
</ul>
{% endfor %} {% endcomment %}

<ul class="logs">
	{% for l in nonprofit.log.all %}
	<li class="log {% if l.processed %}processed{% endif %} {% if l.verified %}verfied{% endif %} {% if l.attendee %}attendee{% endif %}" data-created_on="{{ l.created_on|date:'U' }}" data-day="{{ l.start_date|date:"U" }}" id="l.token">
		{{ l.volunteer }} - {{ l.duration | humanize_duration }} <a href="{% if l.user %}{% url 'logs:detail' l.user l.token %}{% else %}{% url 'logs:detail' l.token %}{% endif %}">view details</a> | {% if not l.verified %}<a href="{% url 'logs:verify' l.token %}">verify</a>{% else %}<a href="{% url 'logs:unverify' l.token %}">unverify</a>{% endif %}{% if not l.processed %} | <a href="#" onclick="deny('{{ l.token }}')" id="anchor{{ l.token }}">deny</a>{% elif not l.verified %} | denied{% endif %}
	
	<div id="reason{{ l.token }}" style="display: none">
		<form method="post" action="{% url 'logs:deny' l.token %}">{% csrf_token %}
		    <textarea name="reason" cols="40" rows="2" maxlength="256" required="" id="id_reason" placeholder="Reason for denial"></textarea>
		    <input type="submit" value="Deny">
		</form>
	</div>
	</li>
	{% endfor %}
</ul>

<script src="{% static 'lib/js/isotope.js' %}"></script>
<script>
function deny(id){
	box = document.getElementById("reason" + id);
	link = document.getElementById("anchor" + id);
	box.style.display = "block";
	iso.layout();

	link.innerHTML = "cancel denial";
	link.setAttribute( "onclick", "javascript: cancel_deny('" + id + "');" );
}
function cancel_deny(id){
	box = document.getElementById("reason" + id);
	link = document.getElementById("anchor" + id);
	box.style.display = "none";
	iso.layout();

	link.innerHTML = "deny";
	link.setAttribute( "onclick", "javascript: deny('" + id + "');" );
}

var elem = document.querySelector('.logs');
var iso = new Isotope( elem, {
	// options
	itemSelector: '.log',
	layoutMode: 'vertical',
	getSortData: {
		day: '[data-day] parseInt',
		created_on: '[data-created_on] parseInt',
	},
	sortBy: document.querySelector('.sort-by-button-group .button.is-checked').getAttribute('data-sort'),
	sortAscending: false,
});

var sortByGroup = document.querySelector('.sort-by-button-group');
sortByGroup.addEventListener( 'click', function( event ) {
	// only button clicks
	if ( !matchesSelector( event.target, '.button' ) ) {
		return;
	}
	var sortValue = event.target.getAttribute('data-sort');
	iso.arrange({ sortBy: sortValue });
});


var filtersElem = document.querySelector('#filters');
filtersElem.addEventListener('click', filterByCheckboxes());
var allCheck = document.getElementById("filter-all");
allCheck.addEventListener('click', allCheckFun);
notAllCheck = document.querySelectorAll('#filters input[type=checkbox]:not(#all-check)');
for(var i=0; i<notAllCheck.length; i++){
	notAllCheck[i].addEventListener('click', function(){
		if(notAllCheck[i].checked){allCheck.checked = false;}
	});
}

function filterByCheckboxes(){
	checkboxes = document.querySelectorAll('#filters input[type=checkbox]:checked');
	filters = [];
	for(var i=0; i< checkboxes.length; i++){
		filters.push(checkboxes[i].value);
	}
	iso.arrange({ filter: filters.join("") });
}
filterByCheckboxes();
function allCheckFun(){
	checkboxes = document.querySelectorAll('#filters input[type=checkbox]:checked');

	if (allCheck.checked){ //if it is checked, uncheck all other elements
		for(var i=0; i< checkboxes.length; i++){checkboxes[i].checked = false;}
		allCheck.checked = true;
	}
	if(!checkboxes.length){ //if nothing's checked, check it
		allCheck.checked = true;
	}
}
allCheckFun();

// change is-checked class on buttons
var buttonGroups = document.querySelectorAll('.button-group');
for ( var i=0; i < buttonGroups.length; i++ ) {
	buttonGroups[i].addEventListener( 'click', onButtonGroupClick );
}

function onButtonGroupClick( event ) {
	// only button clicks
	if ( !matchesSelector( event.target, '.button' ) ) {
		return;
	}
	var button = event.target;
	button.parentNode.querySelector('.is-checked').classList.remove('is-checked');
	button.classList.add('is-checked');
}
</script>
<style>
	.is-checked{text-decoration: underline;}
</style>


{% endblock %}