{% extends "base.html" %}

{% block title %}{{profile.username}}{% endblock %}

{% block content %}

<h2>User: {{ profile.username }}</h2>
{% if profile.display_name %}<h3>{{ profile.display_name }}</h3>{% endif %}

{% if user.username == profile.username %}<a href="{% url 'password_reset' %}">reset password</a>{% endif %}

{% if user.username == profile.username or perms.accounts.update_user %}
<a href="{% url 'accounts:update_user' profile.username %}">edit profile</a>
{% endif %}

{% if user.username == profile.username or perms.accounts.delete_user %}
<a href="{% url 'accounts:delete_user' profile.username %}">delete account</a>
{% endif %}

{% if user.is_authenticated and profile.username != user.username %}
{% for org in user.organization_leadership %}
<a href="{% url 'orgs:invite' org.slug profile.username %}">invite this user to {{ org }}</a>
{% endfor %}
{% endif %}

<h3>Created Networks</h3>
{% if profile.network.all %}
	<ul>
	{% for n in profile.network.all %}
		<li>
			<a href="{% url 'network:detail' n.slug %}">{{ n.title }}</a>
			{% if n.src_link%}<img src="{{ n.src_link }}" width="100px;">{% endif %}
			{% if n.src_file%}<img src="{{ n.src_file.url }}" width="100px;">{% endif %}
			{% if user.username == profile.username %}| <a href="{% url 'network:updatenet' n.slug %}">update</a> | <a href="{% url 'network:deletenet' n.slug %}">delete</a>{% endif %}
		</li>
	{% endfor %}
	</ul>
{% else %}
	{% if user.username == profile.username %}<p>You haven't created any networks yet.</p>
	{% else %}<p>This user hasn't created any networks yet.</p>
	{% endif %}
{% endif %}

<h3>Created Nonprofits</h3>
{% if profile.nonprofit.all %}
	<ul>
	{% for non in profile.nonprofit.all %}
		<li>
			<a href="{% url 'network:detailnon' non.network.slug non.slug %}">{{ non.title }}</a>
			{% if non.src_link%}<img src="{{ non.src_link }}" width="100px;">{% endif %}
			{% if non.src_file%}<img src="{{ non.src_file.url }}" width="100px;">{% endif %}
			{% if user.username == profile.username %}| <a href="{% url 'network:updatenon' non.network.slug non.slug %}">update</a> | <a href="{% url 'network:deletenon' non.network.slug non.slug %}">delete</a>{% endif %}
		</li>
	{% endfor %}
	</ul>
{% else %}
	{% if user.username == profile.username %}<p>You haven't created any nonprofits yet.</p>
	{% else %}<p>This user hasn't created any nonprofits yet.</p>
	{% endif %}
{% endif %}

{% if profile.nonprofit_rep.all %}
<h3>Nonprofits Representing</h3>
<ul>
	{% for non in profile.nonprofit_rep.all %}
	<li><a href="{% url 'network:detailnon' non.network.slug non.slug %}">{{ non.title }}</a></li>
	{% endfor %}
</ul>
{% endif %}

<h3>Joined Organizations</h3>
{% if joined_organizations %}
	<ul>
	{% for j in joined_organizations %}
		{% if user.username == profile.username or j.public %}<li><a href="{% url 'orgs:detail' j.slug %}">{{ j.title }}</a></li>{% endif %}
	{% endfor %}
	</ul>
{% else %}
	{% if user.username == profile.username %}<p>You haven't joined any organizations yet!</p>
	{% else %}<p>This user may not have joined any organizations yet. Private organization membership is hidden.</p>
	{% endif %}
{% endif %}

<h3>{% if user.username == profile.username %}My{% else %}{{ profile.username}}'s{% endif %} Volunteering Log</h3>
{% if user.username == profile.username %}<p><a href="{% url 'logs:add' %}">Add hours</a></p>{% endif %}
<p><a href="{% url 'logs:log' %}">View log</a></p>

{% if user.username == profile.username %}
<h3>Subscribed Calendars</h3>
{% if calendar.calendars.all %}
	<ul>
	{% for i in calendar.calendars.all %}
	  {% if i.network and not i.nonprofit %}<li><a href="{{ i.cal_url }}">{{ i.name }}</a></li>{% endif %}
	  {% if i.nonprofitcal.all %}
	  <ul>
	    {% for j in i.nonprofitcal.all %}
	      {% if j not in calendar.excludedcal.all %}<li><a href="{{ j.cal_url }}">{{ j.name }}</a></li>{% endif %}
	    {% endfor %}
	  </ul>
	  {% endif %}
	{% endfor %}
	</ul>
	<ul>
	  {% for i in calendar.calendars.all %}
	  {% if i.nonprofit %}<li><a href="{{ i.cal_url }}">{{ i.name }}</a></li>{% endif %}
	  {% endfor %}
	</ul>
{% else %}
	<p>You aren't subscribed to any calendars yet.</p>
{% endif %}
{% endif %}

{% if user.username == profile.username %}{% include "cal/snippets/calendar.html" with type="user" %}{% endif %}

{% endblock %}