{% extends "base.html" %}
{% load custom_filters %}

{% block title %}{{ organization.title }}{% endblock %}

{% block content %}

<h1>{{ organization.title }}</h1>
{% if organization.description %}<h3>{{ organization.description }}</h3>{% endif %}
{% if organization.website %}<p>Website: <a href="{{ organization.website }}">{{ organization.title }}</a></p>{% endif %}
{% if organization.phone %}<p>Phone: {{ organization.phone }}</p>{% endif %}
{% if organization.address %}<p>Address: {{ organization.address }}</p>{% endif %}
{% if organization.email %}<p>Email: <a href="mailto:{{ organization.email }}">{{ organization.email }}</a></p>{% endif %}

<a href="{% url 'orgs:index' %}">back to index view</a>
<br>
{% if user.is_authenticated and user in organization.get_participants %}
<a href="{% url 'orgs:leave' organization.slug %}">leave organization</a> |
{% endif %}
{% if user.is_authenticated and user in organization.get_leadership %}
<a href="{% url 'orgs:updateorg' organization.slug %}">update organization</a> |
{% endif %}
{% if user.is_authenticated and user in organization.leader.all %}
<a href="{% url 'orgs:deleteorg' organization.slug %}">delete organization</a> |
<a href="{% url 'orgs:transfer' organization.slug %}">transfer ownership</a>
<br>
<a href="{% url 'orgs:create_goal' organization.slug %}">create hour goal</a>
{% endif %}

{% if organization.src_file%}<br><img src="{{ network.src_file.url }}"><br>{% endif %}
{% if network.src_link%}<br><img src="{{ network.src_link }}"><br>{% endif %}

{% if organization.public or user.is_authenticated and user in organization.get_participants %}

<h3>Pinned Networks/Nonprofits</h3>
<p><i>In order for a network/nonprofit to show up here, you need to subscribe to its calendar (the button for which can be found on its detail page).</i></p>
{% if organization.calendar.calendars.all %}
  <ul>
  {% for i in organization.calendar.calendars.all %}
    {% if i.network and not i.nonprofit %}<li><a href="{{ i.cal_url }}">{{ i.name }}</a></li>{% endif %}
    {% if i.nonprofitcal.all %}
    <ul>
      {% for j in i.nonprofitcal.all %}
        {% if j not in organization.calendar.excludedcal.all %}<li><a href="{{ j.cal_url }}">{{ j.name }}</a></li>{% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  {% endfor %}
  </ul>
  <ul>
    {% for i in organization.calendar.calendars.all %}
    {% if i.nonprofit %}<li><a href="{{ i.cal_url }}">{{ i.name }}</a></li>{% endif %}
    {% endfor %}
  </ul>
{% else %}
  <p>This organization hasn't pinned anything, yet.</p>
{% endif %}
{% include "cal/snippets/calendar.html" with type="organization" %}

<ul>
    <li>Leaders: {% for leader in organization.leader.all %} {{ leader }} {% endfor %}</li>
    <li> Helpers:
    	<ul>
    		{% for mod in organization.moderator.all %}
        <li>{{ mod }} | <a href="{% url 'orgs:demote' organization.slug mod.username %}">Demote</a> | <a href="{% url 'orgs:kick' organization.slug mod.username %}">Kick</a></li>
        {% endfor %}
    	</ul>
	</li>
    <li> Members:
    	<ul>
    		{% for mem in organization.member.all %}
        <li>{{ mem }} | <a href="{% url 'orgs:promote' organization.slug mem.username %}">Promote</a> | <a href="{% url 'orgs:kick' organization.slug mem.username %}">Kick</a></li>
        {% endfor %}
    	</ul>
	</li>
</ul>

<h3>Hour goals</h3>
<ul>
  {% for g in organization.goal.all %}
  <li>
    {{ g }} -- {{ g.hours }} hour{{ g.hours | pluralize }}
    <ul>
      {% if g.description %}<li>{{ g.description }}</li>{% endif %}
      <li>{{ g.completed_users }} of {{ organization.member.count|add:organization.moderator.count }} members have completed this goal so far</li>
      {% if request.user in organization.get_leadershipt %}<li><a href="{% url 'orgs:goal_update' organization.slug forloop.counter0 %}">update</a> | <a href="{% url 'orgs:goal_delete' organization.slug forloop.counter0 %}">delete</a></li>{% endif %}
    </ul>
  </li>
  {% endfor %}
</ul>

{% if not organization.public and request.user in organization.get_leadership %}

<p><a href="{% url 'orgs:geninvite' organization.slug %}">Generate Invite</a></p>
<h3>Active Invites:</h3>
<ul>
{% for i in organization.invitation_set.all %}
{% if i.valid and i.is_not_expired and not i.user %}
<li>Link: <a onclick="copyToClipboard(this, '{{ request.get_host }}{% url 'orgs:join' token=i.token %}')" data-tooltip="Copy link to clipboard">{{ i.token }}</a> | 
  {% if i.expiration %}Expiration: {{ i.expiration }} |{% endif %}
  {% if i.max_uses %}Max Uses: {{ i.max_uses}} | Uses Remaining: {{ i.max_uses|subtract:i.uses }} |
  {% else %}Used: {{ i.uses }} times |
  {% endif %}
  <a href="{% url 'orgs:delinvite' i.token %}">Delete</a>
</li>
{% endif %}
{% endfor %}
</ul>

<h3>Active Requests:</h3>
{% for r in organization.request_set.all %}
{% if r.is_not_approved and r.user not in organization.get_participants %}
<p><a href="{% url 'orgs:appreq' token=r.token organization=organization.slug %}">Approve {{ r.user }}</a> | <a href="{% url 'orgs:delreq' token=r.token organization=organization.slug %}">Deny request to join</a> | Message: {{ r.request_message }}</p>
{% endif %}
{% endfor %}

{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% else %}
<p>This is a private organization!{% if not user.is_authenticated %} If you believe that you should have access to this organization, make sure that you're <a href="{% url 'login' %}">logged in</a>.{% endif %}</p>
{% if not has_made_request %}<p><a href="{% url 'orgs:reqorg' organization.slug %}">Request Access</a></p>
{% else %} <p>Your request to join this organization is pending. {% if organization.email %}If you wish to speed this up, you could <a href="mailto:{{ organization.email }}">contact the organization</a>?{% endif %}</p>
{% endif %}
{% endif %}

{% if organization.announcement.all %}
<h3>Announcements</h3>
{% include "network/snippets/list_announcements.html" with object=organization %}
{% endif %}

{% if user in organization.get_leadership or user.is_staff %}
<h2>Add an announcement</h2>
<form method="post" action="{% url 'orgs:create_announcement' organization.slug %}">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add announcement">
</form>
{% endif %}

<script>
function copyToClipboard(link, str) {
  const el = document.createElement('textarea');
  el.value = str;
  el.setAttribute('readonly', '');
  el.style.position = 'absolute';
  el.style.left = '-9999px';
  document.body.appendChild(el);
  el.select();
  document.execCommand('copy');
  document.body.removeChild(el);
  link.setAttribute("data-tooltip", "Copied!");
  setTimeout(function(){
    link.setAttribute("data-tooltip", "Copy link to clipboard");
}, 2000);
};
</script>

{% endblock %}