/*The server must be restarted for css changes to take effect*/
*{box-sizing: border-box;}
body, html{padding:0; border:0;}

.marker{
	background-image: url("images/marker.svg");
	background-size: cover;
	background-position: center center;
	width: 33px;
	height: 42px;
}
.addressWrapper{}
#map{width:640px; height:360px;}
#id_address{display:none;}