{% load static %}
{% load tz %}
{% load compress %}

{% localtime on %}
<!DOCTYPE html>
<html>
<head>
	<link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/png" /> <!--Favicon-->

	<meta charset="UTF-8">
	<meta name="description" content=""><!--TODO:describe it-->
	<meta name="keywords" content=""><!--TODO: set keywords-->
	<meta name="author" content="TODO"> <!--TODO: name of author should probably be the name of the site + developer -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% block title %}SITENAME{% endblock %}</title>

	{% compress css %}
    <link type="text/x-scss" href="{% static 'lib/css/style.scss' %}" rel="stylesheet">
	{% endcompress %}
	<link type="text/css" href="{% static 'lib/css/tooltip.css' %}" rel="stylesheet">

	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
	{% include "navbar.html" %}
	
	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}

	{% block content %}
		<h1>Content hasn't been overriden</h1>
	{% endblock %}
</body>
</html>
{% endlocaltime %}