{% load custom_filters %}
<div class="navbar flex">
    <h1><a href="{% url 'home:main' %}">SITENAME</a></h1>
    <div class="navLinks flex">
        <!--If you're logged in, show this-->
        {% if user.is_authenticated %}
            <a href="{% url 'network:addnet' %}" {% if request.path == "/network/add/" %}class="active"{% endif %}">create a network</a>
        {% endif %}
        
        <!--If you're logged in, show this-->
        {% if user.is_authenticated and is_on_detail_page %} <a href="{% url 'network:addnon' network.slug %}">add a nonprofit</a>
        <!--Show this if you're not on the detail page-->
        {% else %} <a href="{% url 'network:index' %}" {% if request.path == "/network/" %}class="active"{% endif %}>find a network</a>
        {% endif %}
        
        <!--If you're NOT logged in, show this-->
        {% if not user.is_authenticated %}
            <a href="{% url 'accounts:signup' %}" {% if request.path == "/accounts/signup/" %}class="active"{% endif %}>sign up</a>
            <a href="{% url 'login' %}" {% if request.path == "/accounts/login/" %}class="active"{% endif %}>log in</a>

            <style>
                .navLinks{padding-right:0;}
            </style>
        {% endif %}
        
        <!--If you're logged in, show this-->
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">log out</a>
            <a href="{% url 'accounts:current_profile' %}" {% if request.path == "/accounts/profile/" %}class="active"{% endif %}>{{ user.username }}</a>
            <a id="userLink" href="{% url 'accounts:current_profile' %}"> <img src="{{ user.email|gravatar_url }}" class="userIcon" alt="gravitar user icon" title="{{ user }}"/></a>
        {% endif %}
    </div>
</div>