{% extends "base.html" %}
{% load custom_filters %}

{% block title %}{{ event }}{% endblock %}

{% block content %}

<h1>{{ event }} on {% if d %}{{ d|getLongDate }}{% else %}{{ event.start_time|date:"M j, Y" }}{% endif %}</h1>
<h3>{{ event.s_description }}</h3>

{% if c.user and user.is_authenticated and user == c.user %}
<a href="{% url 'cal:usercal' c.user.username %}">back to user calendar</a> |
{% elif c.nonprofit %}
<a href="{% url 'cal:nonprofitcal' c.nonprofit.network.slug c.nonprofit.slug %}">back to nonprofit calendar</a> |
<a href="{% url 'cal:networkcal' c.nonprofit.network.slug %}">back to network calendar</a> |
{% elif c.network %}
<a href="{% url 'cal:orgcal' c.network.slug %}">back to network calendar</a> |
{% elif c.organization %}
<a href="{% url 'cal:networkcal' c.organization.slug %}">back to organization calendar</a> |
{% endif %}

{% if user.is_authenticated and event.created_by.username == user.username or event.calendar.nonprofit and user.is_authenticated and user in event.calendar.nonprofit.nonprofit_reps.all %}
<a href="{% url 'cal:editevent' event.token %}">edit event</a> |
<a href="{% url 'cal:deleteevent' event.token %}">delete event</a> |
{% endif %}

{% if event.rrule and d or not event.rrule %}
<a href="{% url 'cal:signup' event.token %}{% if d %}?d={{ d }} {% endif %}">sign up for event</a> |
{% endif %}

{% if next_repeat and not d %}<p>The next time this event repeats is on <a href="{% url 'cal:eventdetail' event.token %}?d={{ next_repeat }}">{{ next_repeat }}</a>.</p>{% endif %}

{% if not event.rrule and event.attendee.all %}
<h2>Attendees</h2>
<ul>
	{% for a in event.attendee.all %}
	<li>{{ a }}</li>
	{% endfor %}
</ul>
{% endif %}

{% endblock %}