{% extends "base.html" %}

{% block title %}Update event {{ event.title }}{% endblock %}

{% block content %}
<h1>Update an event</h1>

{% if c.user and user.is_authenticated and user == c.user %}
<a href="{% url 'cal:usercal' c.user.username %}">back to user calendar</a>
{% elif c.nonprofit %}
<a href="{% url 'cal:nonprofitcal' c.nonprofit.network.slug c.nonprofit.slug %}">back to nonprofit calendar</a> |
<a href="{% url 'cal:networkcal' c.nonprofit.network.slug %}">back to network calendar</a>
{% elif c.network %}
<a href="{% url 'cal:orgcal' c.network.slug %}">back to network calendar</a>
{% elif c.organization %}
<a href="{% url 'cal:networkcal' c.organization.slug %}">back to organization calendar</a>
{% endif %}

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>
{% endblock %}