{% extends "base.html" %}
{% load static %}

{% block title %}Log Volunteering Time{% endblock %}

{% block content %}
<a href="{% url 'accounts:profile' %}">back to profile</a>

<h1>Add time to your volunteering log</h1>

<form method="post">{% csrf_token %}
	{{ form.non_field_errors }}
	{% include 'logs/snippets/search_snippet.html' with type="nonprofit" %}

	{% for field in form.visible_fields %}
		<p>
			{{ field.errors }}
			{{ field.label_tag }} 

			{% if field.name != "duration" %} {{ field }}
			{% else %} <input type="text" name="duration" required="" id="id_duration" class="html-duration-picker" style="padding-right:1.5em;" data-hide-seconds>
			{% endif %}
			
			{% if field.help_text %}
			{{ field.help_text|safe }}
			{% endif %}
		</p>
	{% endfor %}

	<input type="submit" value="Save">
</form>

<script src="{% static 'lib/js/html-duration-picker.js' %}"></script>
<script>document.getElementById("id_duration").value = "00:15";</script>
{% endblock %}