{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}{% if not log %}Log Volunteering Time{% else %}Update Volunteering Log{% endif %}{% endblock %}

{% block content %}
<a href="{% url 'accounts:profile' %}">back to profile</a>

<h1>
{% if not log %}
Add time to your volunteering log
{% else %}
Update volunteering log {{ log }}
{% endif %}
</h1>

{% if log.verified %}<p><b>Warning:</b> this log has been verified by a nonprofit representative before this. If you update this log, it will no longer be verified. Are you sure you don't want to <a href="{% url 'logs:detail' log.user.username log.token%}">go back</a>?</p>{% endif %}

<form method="post">{% csrf_token %}
	{{ form.non_field_errors }}
	{% include 'logs/snippets/search_snippet.html' with type="nonprofit" %}

	{% for field in form.visible_fields %}
		<p>
			{{ field.errors }}
			{{ field.label_tag }} 

			{% if field.name != "duration" %} {{ field }}
			{% else %} <input type="text" name="duration" required="" id="id_duration" class="html-duration-picker" style="padding-right:1.5em;" data-hide-seconds>
			{% endif %}
			
			{% if field.help_text %}
			{{ field.help_text|safe }}
			{% endif %}
		</p>
	{% endfor %}

	<input type="submit" value="{% if not log %}Save{% else %}Update{% endif %}">
</form>

<script src="{% static 'lib/js/html-duration-picker.js' %}"></script>
<script>
document.getElementById("id_duration").value = {% if not log %} "00:15";
{% else %} "{{ log.duration|javascriptize_duration }}"; console.log("{{ log.duration|javascriptize_duration }}");
{% endif %}
</script>
{% endblock %}